rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /captures/{playerId}/{fileName} {
      allow read: if true;

      allow write: if fileName.matches('[1-7][.]jpg')
        && request.resource.size < 10 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');

      allow delete: if false;
    }
  }
}